
body{
    background-image: url("/static/Images/home.jpg");
    background-attachment: fixed;
    background-size: cover;
}
#heading{
    text-align: center;
    color:rgb(247, 205, 144);
    font-size: 60px;
}
.btn{
    margin:30px;
    border: 2px solid rgb(223, 142, 169);
    justify-content: flex-start;
    padding:20px 70px;
    font-size: 20px;
    background-color: peachpuff;
    border-radius: 15px;
    margin-left:320px;
    margin-top: 205px;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }