<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Catalog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/user_catalog.css' %}">
</head>
<body>
    <div class="banner-img">
        <div class="header">
            <div class="Heading"><h1><span id="order_text"> Order</span> Your Food!</h1></div>
            
            <div class="menu_links">
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Contact</a>

                <button class="res-now-btn">Reserve Now</button>
            </div>
            
        </div>
        <br>
        
    </div>
    <div class="categories">
        <a href="#" >Starters</a>
        <a href="#">Main Course</a>
        <a href="#">Drinks</a>
        <a href="#">Deserts</a>
        <a href="#">Snacks</a>
    </div>
    <br>

    <div class="items-container">
        <table class="items-table">
            <tr>
                <th>Item Name</th><th>Description</th><th>Price</th><th>Quantity</th><th>Click to Order</th>
            </tr>
            <tr>
                <td>Dosa</td><td> dosa is a healthy breakfast option</td><td>Rs.50</td>
                <td>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="1">1</span>
                        <span class="plus">+</span>
                    </div>
                </td>
                <td><button class="add-btn">+Add</button></td>
            
            
            
        </table>
    </div>
    <footer class="footer">
        <button class="place-odr-btn">Place order</button>

    </footer>
    
</body>
</html>