*{
    box-sizing: border-box;
    
}
body{
    background-color: rgb(247, 215, 174);
    font-family: 'inter','serif';
}
.header{
    color: rgb(207, 103, 33);
    width: 100%;
    position: relative;
    display: inline-flex;
    justify-content:space-between;
    align-items: baseline;
}
.items-container{
    bottom: 90px;
}
#order_text{
    font-size:60px;
    
}
h1{
    margin-top: -18px;
}
.menu_links{
    display: inline-flex;

    
}
.res-now-btn{
    margin: 20px;
    width: 150px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 19px;
    color: rgb(37, 29, 31);
    background-color: rgb(250, 126, 147);
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(245, 130, 110) ;

}
.res-now-btn:hover{
    background-color: bisque;
    cursor: pointer;
}
.menu_links a{
    margin:15px;
    font-size: 19px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.menu_links a:hover{
    text-shadow:0 0 1px  rgb(88, 89, 90);
}
.categories a{
    margin:10px;
    margin-left: 15px;
    font-size: 19px;
    color: rgb(175, 58, 84);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(247, 215, 174) ;
}
.categories{
    margin-left: 350px;
    padding:10px;
    margin-right: 270px;
    border-radius: 10px;
   
}
.categories a:hover{
    background-color: rgb(247, 192, 192);
    border: 1px solid;
    transition: 0.4s;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.6 ease-out;
}
.items-table{
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
table,td,th{
    align-items: center;
    border: 1px solid black;
    border-collapse: collapse;
}
.items-table tr{
    margin: 30px;
}
.items-table th{
        font-size: 25px;
}
.items-table td{
    margin-top: 40px;
    font-size: 22px;
    text-align: center;
    align-items: center;
}
.add-btn{
    cursor: pointer;
    margin: 20px;
    width: 100px;
    margin-left: 15px;
    font-size: 19px;
    color: rgb(175, 58, 84);
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(245, 130, 110) ;

}
.add-btn:hover{
    background-color:rgb(248, 136, 161) ;
}
.footer{
    background-color: aliceblue;
    bottom: 3px;
    width: 100%;
    padding: 10px 10px 0px 10px;
    position: fixed;
    height: 60px;
    right: auto;
    left: auto;
    display: inline;
}
.footer .place-odr-btn{
    cursor: pointer;
    margin: 20px;
    width: 200px;
    margin-top: 2px;
    float:right;
    font-size: 19px;
    color: rgb(20, 17, 18);
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(245, 130, 110) ;
}
.footer .place-odr-btn:hover{
    background-color: rgb(248, 136, 161);
}
.footer .total_price{
    margin-left: 30px;
    margin-top: 3px;
    width: 160px;
    height: 30px;
    text-align: center;
    font-family: 'inter','serif';
    font-size: 20px;
    font-weight: bold;
    border-color: brown;
    background-color: bisque;
    padding: 20px;
}
.footer .total_price-lbl{
    margin-left: 800px;
    font-family: 'inter','serif';
    font-size: large;
    font-size: 25px;
}
.wrapper{
    border: none;
    display: flex;
    align-items: center;
    padding-right: -30px;
    margin-right: -55px;
    margin-left: 10px;   
}
.wrapper .minus, .plus{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    text-align: center;
}
.wrapper .minus{
    padding-left: 10px;
    padding-bottom: 20px;
}
.wrapper .plus{
    padding-left: 7px;
}
.wrapper .num{
    background-color: aliceblue;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 35px;
    margin: 0 10px;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}
.minus ,.plus span{
    font-size: 28px;
    font-weight: bolder;
}

